html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background: white;
  height:100%;
}

/* CSS mobile version */
.container{
display:flex;
flex-direction: column;
}
/*CSS default style*/
.containerList{
height: 310px;
width: 100%;
flex:1;
}

.containerSearchField{
border: 2px solid black;
display:flex;
flex-direction: column;
}

.titleOfApp{
border: 2px solid black;
height: 20%;
width:100%;
flex:1;
}

.titleOfApp h1{
  font-size: 1.2em;
  padding-left: 10%;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px grey;
}

.inputAndFilterArea{
border: 2px solid black;
height: 40%;
width: 100%;
flex:2;
}

.inputAndFilterArea form input{
  outline:none;
  width:100%;
  height: 20px;
  padding: 5%;
}

button{
  width:20%;
  height: 20px;
  padding: 8px 35px 18px 15px ;
  font-size: 0.5em;
}

.search-location-results li {
  text-align: center;
  border-bottom: 2px solid black;
  padding: 1%;
  margin-right:5%;
  margin-bottom: 2%;
  background-color: white;
  box-shadow: 1px 1px 2px grey;
  list-style-type: none;
}

.inputWrapper{
margin:0;
box-sizing: border-box;
width:50%;
}

.searchButtonWrapper{
width: 20%;
margin:0;

}

.search-location-results{
}

.containerMap{
margin-top: 2%; 
height: 750px;
width: 100%;
}

.mapContainer{

}

.map{
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
    position:fixed;
    background-color: #E3E2DF;
    margin: 50px;
    padding: 20px;
    border: 4px solid black;
    width: 80%;
    height: 40%;
    font-size: 1.1em;
    border-radius:25px;
    
  }
.button-modal{
  cursor: pointer;
  width:80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  font-size:1.2em;
  border-radius:25px;
}

.modalInfo{
  list-style-type: none;
}

.attribution{
  font-size:0.3em;
  font-style: italic;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/*CSS Tablet version*/
@media (min-width: 530px) {
body{
  font-size: 1.5em;
}
.containerList{
height: 550px;
width: 100%;
flex:1;
}

.containerSearchField{
border: 2px solid black;
display:flex;
flex-direction: column;
}

.titleOfApp{
border: 2px solid black;
height: 20%;
width:100%;
flex:1;
}

.titleOfApp h1{
  font-size: 1.6em;
  padding-left: 10%;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px grey;
}

.inputAndFilterArea{
border: 2px solid black;
height: 40%;
width: 100%;
flex:2;
}

.inputAndFilterArea form input{
  outline:none;
  width:100%;
  height: 20px;
  padding: 5%;
}

button{
  width:20%;
  height: 20px;
  padding: 38px 45px 38px 25px;
  margin:1px;
  font-size: 0.5em;
}

.inputWrapper{
margin:0;
box-sizing: border-box;
width:50%;
}

.searchButtonWrapper{
width: 20%;
margin:0;

}

.search-location-results{
}

.containerMap{
margin-top: 2%; 
height: 750px;
width: 100%;
}

.modal-main {
  font-size: 1.2em;  
  }
.button-modal{
  font-size:0.9em;
}
}

/*CSS Default Desktop version*/
@media (min-width: 1026px) {
body{
  font-size: 1.1em;
}
.container{
display:flex;
flex-direction: row;
}

.containerList{
height:750px;
width: 20%;
flex:1;
}

.containerSearchField{
border: 2px solid black;
display:flex;
flex-direction: column;
}

.titleOfApp{
border: 2px solid black;
height: 20%;
width:100%;
flex:1;
}

.titleOfApp h1{
  padding-left: 10%;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px grey;
  font-size: 1.0em;
}

.inputAndFilterArea{
border: 2px solid black;
height: 40%;
width:100%;
flex:2;
}

.inputAndFilterArea form input{
  outline:none;
  height: 20px;
  width:100%;
  padding: 5%;
}

.inputWrapper{
margin:0;
box-sizing: border-box;
width:50%;
}

.searchButtonWrapper{
width: 20%;
margin:0;

}

.search-location-results{
height: 75%;
margin-right: 5%;
}
.search-location-results li {
  padding: 2%;
  margin-right:8%;
  margin-bottom: 8%;
}

.containerMap{
height:750px;
width: 80%;
margin:0;
}

.mapContainer{

}

.map{
  
}
.modal-main {
  font-size: 2.0em;  
  }
.button-modal{
  font-size:0.8em;
  height: 50px;
}
.modal-main {
  height: 50%;
  }

}
